* {

	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

#app {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/*line 17-- I add this for div-form visible,better loock component */
}